@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Medium.ttf);
}

html, body {
    font-family: Roboto;
    height: 100%;
    margin: 0;
    background-color: #EAF205;
    color: #252601;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 0;
    justify-content: center;
}

.body {
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.roundtxt {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
}

.scores {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.buttons {
    display: flex;
    flex: 4;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    padding: 24px;
    display: flex;
    justify-content: center;
}

#easteregg {
    background-color: #EAF205;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: Roboto;
    font-size: 16px;
}

button:not(#easteregg) {
    background-color: #EAF205;
    border: solid #252601;
    border-radius: 12px;
    box-shadow: 6px 6px #252601;
    cursor: pointer;
    padding: 24px;
}

button:active:not(#easteregg) {
    transform: translateY(2px);
    box-shadow: 6px 4px #252601;
}